=begin
This is an automatically generated file. DO NOT EDIT.

Generated from version 2.1.85 of the OpenAPI specification at
https://github.com/athenianco/api-spec/releases/tag/2.1.85.
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.5.0
=end

require 'cgi'

module Athenian
  class HistogramsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate histograms on continuous integration runs, such as GitHub Actions, Jenkins, Circle, etc.
    # @param body [CodeCheckHistogramsRequest] Select the check runs of interest and the metrics to calculate.
    # @param [Hash] opts the optional parameters
    # @return [Array<CalculatedCodeCheckHistogram>]
    def calc_histogram_code_checks(body, opts = {})
      data, _status_code, _headers = calc_histogram_code_checks_with_http_info(body, opts)
      data
    end

    # Calculate histograms on continuous integration runs, such as GitHub Actions, Jenkins, Circle, etc.
    # @param body [CodeCheckHistogramsRequest] Select the check runs of interest and the metrics to calculate.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CalculatedCodeCheckHistogram>, Integer, Hash)>] Array<CalculatedCodeCheckHistogram> data, response status code and response headers
    def calc_histogram_code_checks_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistogramsApi.calc_histogram_code_checks ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling HistogramsApi.calc_histogram_code_checks"
      end
      # resource path
      local_var_path = '/histograms/code_checks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CalculatedCodeCheckHistogram>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HistogramsApi.calc_histogram_code_checks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistogramsApi#calc_histogram_code_checks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate histograms over JIRA issue activities.
    # @param body [JIRAHistogramsRequest] Query for selecting JIRA issues and binned activities.
    # @param [Hash] opts the optional parameters
    # @return [Array<CalculatedJIRAHistogram>]
    def calc_histogram_jira(body, opts = {})
      data, _status_code, _headers = calc_histogram_jira_with_http_info(body, opts)
      data
    end

    # Calculate histograms over JIRA issue activities.
    # @param body [JIRAHistogramsRequest] Query for selecting JIRA issues and binned activities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CalculatedJIRAHistogram>, Integer, Hash)>] Array<CalculatedJIRAHistogram> data, response status code and response headers
    def calc_histogram_jira_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistogramsApi.calc_histogram_jira ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling HistogramsApi.calc_histogram_jira"
      end
      # resource path
      local_var_path = '/histograms/jira'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CalculatedJIRAHistogram>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HistogramsApi.calc_histogram_jira",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistogramsApi#calc_histogram_jira\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate histograms over PR distributions.
    # @param body [PullRequestHistogramsRequest] Desired histogram definitions.
    # @param [Hash] opts the optional parameters
    # @return [Array<CalculatedPullRequestHistogram>]
    def calc_histogram_prs(body, opts = {})
      data, _status_code, _headers = calc_histogram_prs_with_http_info(body, opts)
      data
    end

    # Calculate histograms over PR distributions.
    # @param body [PullRequestHistogramsRequest] Desired histogram definitions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CalculatedPullRequestHistogram>, Integer, Hash)>] Array<CalculatedPullRequestHistogram> data, response status code and response headers
    def calc_histogram_prs_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistogramsApi.calc_histogram_prs ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling HistogramsApi.calc_histogram_prs"
      end
      # resource path
      local_var_path = '/histograms/pull_requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CalculatedPullRequestHistogram>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HistogramsApi.calc_histogram_prs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistogramsApi#calc_histogram_prs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
